<form [formGroup]="contactForm" (ngSubmit)="submitForm()">
  <section class="grid grid-cols-1 md:grid-cols-3 gap-4">
    <div class="mb-3">
      <label for="name" class="block">Name</label>
      <input type="text" class="p-3 border-2 w-full" formControlName="name" id="name">
      @if (contactForm.controls['name'].touched && contactForm.controls['name'].invalid) {
        <p class="mb-0 text-danger-600" data-type="error-name"><small>Name is required</small></p>
      }
    </div>
    <div class="mb-3">
      <label for="email" class="block">Email</label>
      <input type="email" class="p-3 border-2 w-full" formControlName="email" id="email">
      @if (contactForm.controls['email'].touched && contactForm.controls['email'].invalid) {
        <p class="mb-0 text-danger-600" data-type="error-email"><small>Email is required</small></p>
      }
    </div>
    <div class="mb-3">
      <label for="phone" class="block">Phone</label>
      <input type="tel" class="p-3 border-2 w-full" formControlName="phone" id="phone">
      @if (contactForm.controls['phone'].touched && contactForm.controls['phone'].invalid) {
        <p class="mb-0 text-danger-600" data-type="error-phone"><small>Phone is required</small></p>
      }
    </div>
  </section>
  <section class="mb-3">
    <div>
      <label for="comment" class="block">Comment</label>
      <textarea rows="4" class="p-3 border-2 w-full" formControlName="comment" id="comment"></textarea>
      @if (contactForm.controls['comment'].touched && contactForm.controls['comment'].invalid) {
        <p class="mb-0 text-danger-600"  data-type="error-comment"><small>Comment is required</small></p>
      }
    </div>
  </section>
  <section>
    <app-button [type]="'submit'" [disabled]="contactForm.invalid">Submit</app-button>
  </section>
</form>
